<form asp-action="Index">      
    <label>MaHTPP</label>
    <p><input name="MaHTPP" class="w3-input w3-border" type="text"></p>
    <label>TenHTPP</label>
    <p><input name="TenHTPP" class="w3-input w3-border " type="text"></p>
    <input class="w3-btn w3-grey w3-border" type ="submit"></p>
</form>
<h2>@ViewBag.thongbao</h2>