<form asp-action="Index" method="post">      
    <label>MaDaiLy</label>
    <p><input name="MaDaiLy" class="w3-input w3-border" type="text"></p>
    <label>TenDaiLy</label>
    <p><input name="TenDaiLy" class="w3-input w3-border " type="text"></p>
    <label>DiaChi</label>
    <p><input name="DiaChi" class="w3-input w3-border " type="text"></p>
    <label>NguoiDaDien</label>
    <p><input name="NguoiDaiDien" class="w3-input w3-border" type="text"></p>
    <label>DienThoai</label>
    <p><input name="DienThoai" class="w3-input w3-border " type="text"></p>
    <label>MaHTPP</label>
    <p><input name="MaHTPP" class="w3-input w3-border " type="text"></p>
    <input class="w3-btn w3-grey w3-border" type="submit">
</form>

<h2>@ViewBag.thongbao</h2>
