<form asp-action="Index">      
    <label>EmployeeID</label>
    <p><input name="EmployeeID" class="w3-input w3-border" type="text"></p>
    <label>Age</label>
    <p><input name="Age" class="w3-input w3-border " type="text"></p>
    <input class="w3-btn w3-grey w3-border" type ="submit"></p>
</form>
<h2>@ViewBag.thongbao</h2>